

script(type="text/javascript", src="/socket.io/socket.io.js")

!= js('chat')

:coffeescript

	window.Chat = new Chat {

		socketURL: "http://#{window.location.host}/chat"

	}
	
		

#messages
	.list
		each item in messages
			//-p #{comment.username} : #{comment.content}
			.message
				.avatar
					img(src="#{item.avatar}", alt="")
				.content #{item.content}


#sendBlock
	input.input(type="text", data-theme="d", placeholder="Введите текст")
	input.btn(type="button", data-theme="a", value="Отпр.")

